   
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ネコ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @necos.each do |neco| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to neco_path(neco) do %>
                  <%= attachment_image_tag neco, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(neco.user.id) do %>
                      <%= attachment_image_tag neco.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to neco.user.username, user_path(neco.user.id) %></div>
                </div>
              </div>

              <div class="content">
                <time><%= neco.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>