<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規ネコ作成
      </h1>
    </div>
  </div>
</section>

<% if @neco.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@neco.errors.count, "error") %>未入力の項目があります。</h2>
    <ul>
      <% @neco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @neco do |f| %>
          <div class="field">
            <%= f.label :title, "タイトル", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :body, "撮影日記", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>