<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ネコ詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @neco, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @neco.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>撮影日記</th>
                </tr>
                <tr>
                  <td><%= simple_format @neco.body %></td>
                </tr>
              </table>
              <% if @neco.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_neco_path(@neco), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @neco.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @neco.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@neco.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @neco.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>