/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image {
  border-radius: 50%;
}

.main-image {
    height: 300px;
    margin-top: 40px;
    background-position: top center;
    background-image: url(topneco.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero.is-success {
    background-color: #000000;
    color: #fff;
}

.card-image img {
    width: 100%;
    object-fit: cover;
}

.button.is-primary {
    background-color: #ffdd57;
    border-color: transparent;
    color: #0a0a0a;
}

.button.is-warning.is-light {
    background-color: #fafafa;
    color: #0a0a0a;
}

.notification.is-info {
    background-color: #f12f55;
    color: #fff;
}

.hero.is-info {
    background-color: #000000;
    color: #fff;
}

.button.is-success {
    background-color: #ffdd57;
    border-color: transparent;
    color: #0a0a0a;
}